<HTML>
	<HEAD>
		<!-- The Head tag is used to create a title of web page, CSS syntax for a web page, and helps in written a JavaScript code. -->
		<title>
			Resource Monitoring
		</title>
		<style>
			/* This tag is used to create a Cascading Style Sheet for displaying the attractive web page. */
		</style>
	</HEAD>
	<BODY>
		<!-- This tag align the text as center -->
		<!-- The Body tag is used to display the content on a web page which is specify between the body tag.  -->
		<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
		<h2 style="text-align: center;">Host Resources Monitor!&nbsp;</h2>
		<h3 style="text-align: center;"><strong>Average CPU Usage : {{avg_cpu_usage}} %&nbsp;</strong></h3>
		<h3 style="text-align: center;"><strong>Total Memory Usage : {{mem_usage}} %</strong></h3>
		<h3 style="text-align: center;"><strong>Total Net Usage : {{net_usage}} {{data_unit}}</strong></h3>
		<table id="VMMonitorTable" style="border-color: rgba(0, 0, 0, 0.2); margin-left: auto; margin-right: auto;" border="1" >
			<caption><span style="color: #808080;"><strong>&nbsp;VM's Resource Usage</strong></span></caption>
			<thead>
				<tr>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>VM's ID</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>CPU Usage</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Memory Usage</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Net Usage</strong></span></td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<script>
			var tbodyRef = document.getElementById('VMMonitorTable').getElementsByTagName('tbody')[0];
			vms_id = {{vms_id}};
			vms_cpu_usage = {{vms_cpu_usage}};
			vms_mem_usage = {{vms_mem_usage}};
			vms_net_usage = {{vms_net_usage}};
			for (var i = 0; i < {{vm_num}}; i++)
			{
			    // Insert a row at the end of table
			    var newRow = tbodyRef.insertRow();
			    newRow.innerHTML = "<tr><td>"+vms_id[i]+"</td><td>"+vms_cpu_usage[i].toFixed(2)+" % </td><td>"+vms_mem_usage[i].toFixed(2)+" % </td><td>"+vms_net_usage[i]+" "+'{{data_unit}}'+" </td></tr>";
			}
		</script>
	</BODY>
</HTML>
