<HTML>
	<HEAD>
		<!-- The Head tag is used to create a title of web page, CSS syntax for a web page, and helps in written a JavaScript code. -->
		<title>
			Resource Monitoring
		</title>
		<!--library for pie chart-->
		<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
		<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
		<!--library for histogram-->
		<script src="//www.ag-grid.com/archive/28.1.0/dev/ag-charts-community/dist/ag-charts-community.min.js"></script>
		<style>
			/* This tag is used to create a Cascading Style Sheet for displaying the attractive web page. */
		</style>
	</HEAD>
	<BODY>
		<!-- This tag align the text as center -->
		<!-- The Body tag is used to display the content on a web page which is specify between the body tag.  -->
		<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
		<h2 style="text-align: center;">Host Resources Monitor!&nbsp;</h2>
		<h3 style="text-align: center;"><strong>Average CPU Usage : {{avg_cpu_usage}} %&nbsp;</strong></h3>
		<h3 style="text-align: center;"><strong>Total Memory Usage : {{mem_usage}} %</strong></h3>
		<h3 style="text-align: center;"><strong>Total Net Usage : {{net_usage}} {{data_unit}}</strong></h3>

		<!--Hosts resource table-->
		<table id="HostMonitorTable" style="text-align: center; border-color: rgba(0, 0, 0, 0.0.3); width:100%;" border="1px">
			<caption><span style="color: #808080;"><strong>&nbsp;All Hosts Resource Usage</strong></span></caption>
			<thead>
				<tr >
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Host's ID</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Total VMs</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>CPU Usage</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Memory Usage</strong></span></td>
					<td><span style="background-color: #ffffff; color: #666699;"><strong>Net Usage</strong></span></td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</br>
	<div id="VMsTable" style="width: 100%;">

	</div>
	</br>
		<!-- Pie chart for resources usage-->
		<div id="chart_container" style="vertical-align:middle; margin: auto; width: 100%">
			<div id="chart_cpu_container" style="width: 33%; display:inline-block; "></div>
			<div id="chart_mem_container" style="width: 33%; display:inline-block; "></div>
			<div id="chart_net_container" style="width: 33%; display:inline-block; "></div>	
		</div>

		<!-- Histogram for resources usage-->
		<div id="histogram_container" style="vertical-align:middle; margin:auto; width: 100%">
			<div id="histogram_cpu_container" style="width: 33%; display:inline-block; "></div>
			<div id="histogram_mem_container" style="width: 33%; display:inline-block; "></div>
			<div id="histogram_net_container" style="width: 33%; display:inline-block; "></div>
		</div>
		
		<script>
			var HosttbodyRef = document.getElementById('HostMonitorTable').getElementsByTagName('tbody')[0];
			hosts_id = {{hosts_id}};
			hosts_vms_num = {{hosts_vms_num}};
			hosts_cpu_usage = {{hosts_cpu_usage}};
			hosts_mem_usage = {{hosts_mem_usage}};
			hosts_net_usage = {{hosts_net_usage}};
			for (var i = 0; i < {{hosts_num}}; i++)
			{
			    // Insert a row at the end of table
			    var newRow = HosttbodyRef.insertRow();
			    newRow.innerHTML = "<tr ><td>"+hosts_id[i]+"</td><td>"+hosts_vms_num[i]+"</td><td>"+hosts_cpu_usage[i].toFixed(2)+" % </td><td>"+hosts_mem_usage[i].toFixed(2)+" % </td><td>"+hosts_net_usage[i]+" "+'{{data_unit}}'+" </td><td>"+"<button id='button_host"+hosts_id[i]+"' type='Detail' onclick='show_hide_vmtable("+hosts_id[i]+")'>Details</button>"+"</td></tr>";
			}
			vms_id = {{vms_id}};
			vms_cpu_usage = {{vms_cpu_usage}};
			vms_mem_usage = {{vms_mem_usage}};
			vms_net_usage = {{vms_net_usage}};
			function show_hide_vmtable(host_id) {
				var d = document.getElementById("VMsTable");
				var t = document.getElementById("VMMonitorTable"+host_id.toString());
				if(!t){
					var new_t = document.createElement('Table');
					new_t.id = "VMMonitorTable"+host_id.toString();
					new_t.style = "text-align: center; border-color: rgba(0, 0, 5, 0.0.3); width:100%; margin: auto; display:none;";
					new_t.style.border = "1px";
					new_t.innerHTML = "<caption><span style='color: #808080;'><strong>&nbsp;VMs Resource Usage of Host id:"+host_id.toString()+"</strong></span></caption>"+
			"<thead>"+
				"<tr >"+
					"<td><span style='background-color: #ffffff; color: #666699;'><strong>VMs ID</strong></span></td>"+
					"<td><span style='background-color: #ffffff; color: #666699;'><strong>CPU Usage</strong></span></td>"+
					"<td><span style='background-color: #ffffff; color: #666699;'><strong>Memory Usage</strong></span></td>"+
					"<td><span style='background-color: #ffffff; color: #666699;'><strong>Net Usage</strong></span></td>"+
				"</tr>"+
			"</thead>"+
			"<tbody></tbody>";
					d.appendChild(new_t);
					t = document.getElementById("VMMonitorTable"+host_id.toString());
					var VMtbodyRef = t.getElementsByTagName('tbody')[0];
					var index = hosts_id.findIndex(function (element) {	return element == host_id; });
					var start_vm = hosts_vms_num.slice(0, index).reduce((a,b)=>a+b,0);
					
					for (var i = start_vm; i < start_vm+hosts_vms_num[index]; i++)
					{
						// Insert a row at the end of table
						var newRow = VMtbodyRef.insertRow();
						newRow.innerHTML = "<tr ><td>"+vms_id[i]+"</td><td>"+vms_cpu_usage[i].toFixed(2)+" % </td><td>"+vms_mem_usage[i].toFixed(2)+" % </td><td>"+vms_net_usage[i]+" "+'{{data_unit}}'+" </td></tr>";
					}
				}
				b = document.getElementById("button_host"+host_id.toString());
    			if (t.style.display === "none"){
        			t.style.display="table";
					b.innerHTML = "Hide";
				}
    			else{
        			t.style.display="none";
					b.innerHTML= "Details";
				}
			}
			//pie chart display
			var chart_cpu_uasage = [];
			var chart_mem_usage = [];
			var chart_net_usage = [];
			for(var i = 0; i < {{hosts_num}}; i++)
			{
				var item = { value: hosts_cpu_usage[i], name: hosts_id[i] };
				chart_cpu_uasage.push(item);
				item = { value: hosts_mem_usage[i], name: hosts_id[i] };
				chart_mem_usage.push(item);
				item = { value: hosts_net_usage[i], name: hosts_id[i] };
				chart_net_usage.push(item);
			}
			var item = { value: 100-{{avg_cpu_usage}}, name: -1 };
			chart_cpu_uasage.push(item);
			//item = { value: 100-{{mem_usage}}, name: -1 };
			//chart_mem_uasage.push(item);
			//item = { value: 100-{{net_usage}}, name: -1 };
			//chart_net_uasage.push(item);
			// create the chart
			var chart_cpu = anychart.pie();
			// set the chart title
			chart_cpu.title("CPU's usage (in %)");
			// add the data
			chart_cpu.data(chart_cpu_uasage);
			// display the chart in the container
			chart_cpu.container('chart_cpu_container');
			chart_cpu.draw();
			// set legend position
			chart_cpu.legend().position("right");
			// set items layout
			chart_cpu.legend().itemsLayout("vertical");
			// sort elements
			chart_cpu.sort("desc");
			chart_cpu.credits().enabled(false);
			var chart_mem = anychart.pie();
			// set the chart title
			chart_mem.title("Memory Swapping's usage (in %)");
			// add the data
			chart_mem.data(chart_mem_usage);
			// display the chart in the container
			chart_mem.container('chart_mem_container');
			chart_mem.draw();
			// set legend position
			chart_mem.legend().position("right");
			// set items layout
			chart_mem.legend().itemsLayout("vertical");
			// sort elements
			chart_mem.sort("desc");

			var chart_net = anychart.pie();
			// set the chart title
			chart_net.title("Net's usage (in %)");
			// add the data
			chart_net.data(chart_net_usage);
			// display the chart in the container
			chart_net.container('chart_net_container');
			chart_net.draw();
			// set legend position
			chart_net.legend().position("right");
			// set items layout
			chart_net.legend().itemsLayout("vertical");
			// sort elements
			chart_net.sort("desc");

			//Histogram addition here
			histogram_cpu_data = {{histogram_cpu_usage|safe}};
			//bin creation
			histogram_cpu_usage = [];
			histogram_cpu_data.forEach(({usage,prob}) => 	histogram_cpu_usage.push(usage));
			//[[1st, 2nd],[2nd,3rd],...]
			let histogram_cpu_bins = histogram_cpu_usage.reduce(
				(a, each) => {
					let index = a.length-1;
					if(a.length && a[index].length<2) {
						a[index].push(each);
						a.push([each]);
					} else {
						a.push([each]);
					}
					return a;
				},
				[]
			);
			histogram_cpu_bins.pop();

			const options = {
				container: document.getElementById('histogram_cpu_container'),
				title: {
					text: "CPU's Usage",
				},
				subtitle: {
					text: 'usage',
				},
				data: histogram_cpu_data,
				series: [
					{
					type: 'histogram',
					xKey: 'usage',
					xName: 'Usage (in %)',
					yKey: 'probability',
      				yName: 'Total probability',
      				aggregation: 'sum',
					//areaPlot: true,
					//bins:histogram_cpu_bins,
					},
				],
				legend: {
					enabled: false,
				},
				axes: [
					{
					type: 'number',
					position: 'bottom',
					title: { text: 'Usage (in %)' },
					},
					{
					type: 'number',
					position: 'left',
					title: { text: 'Probability' },
					},
				],
				};

			agCharts.AgChart.create(options);
			//memory histogram
			histogram_mem_data = {{histogram_mem_usage|safe}};

			const options_mem = {
				container: document.getElementById('histogram_mem_container'),
				title: {
					text: "Memory Swapping Usage",
				},
				subtitle: {
					text: 'Usage and its probability',
				},
				data: histogram_mem_data,
				series: [
					{
					type: 'histogram',
					xKey: 'usage',
					xName: 'Usage (in %)',
					yKey: 'probability',
      				yName: 'Total probability',
      				aggregation: 'sum',
					//areaPlot: true,
					//bins:histogram_cpu_bins,
					},
				],
				legend: {
					enabled: false,
				},
				axes: [
					{
					type: 'number',
					position: 'bottom',
					title: { text: 'Usage (in %)' },
					},
					{
					type: 'number',
					position: 'left',
					title: { text: 'Probability' },
					},
				],
				};

			agCharts.AgChart.create(options_mem);
			//net histogram
			histogram_net_data = {{histogram_net_usage|safe}};

			const options_net = {
				container: document.getElementById('histogram_net_container'),
				title: {
					text: "Net Usage",
				},
				subtitle: {
					text: 'Usage and its probability',
				},
				data: histogram_net_data,
				series: [
					{
					type: 'histogram',
					xKey: 'usage',
					xName: 'Usage (in %)',
					yKey: 'probability',
      				yName: 'Total probability',
      				aggregation: 'sum',
					//areaPlot: true,
					//bins:histogram_cpu_bins,
					},
				],
				legend: {
					enabled: false,
				},
				axes: [
					{
					type: 'number',
					position: 'bottom',
					title: { text: 'Usage (in %)' },
					},
					{
					type: 'number',
					position: 'left',
					title: { text: 'Probability' },
					},
				],
				};

			agCharts.AgChart.create(options_net);
		</script>
	</BODY>
</HTML>
